html{
  font-size: 62.5%;
}


/****
    header
         ****/

.social img{
  width: 40px;
  height: 40px;
  margin: 30px 5px;
}

.logo {
  text-align: center;
}
.logo img {
  width: 300px;
}

.connexion , .monPanier {
  font-size: 1.3rem;
  text-align: center;

}

.connexion img, .monPanier img {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px

}

.connexion p, .monPanier p{
  margin-top: 5px;

}
