body {
  margin:0;
}
html {
  font-size: 62.5%;
}
.logoHeader{
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.borderBottom{
  border-bottom: 1px black solid;
}
.miniLogo{
  overflow:hidden;
  border-radius:50px;
  width:60px;
  top:30px;
}
.center{
  text-align: center;
}

.relative{
  position: relative;
}

.border{
  border: 1px solid black;
}

.slider{
  margin-top: 30px;
}

.slider img{
  width:100%;
  height: 500px;
}


.presentationDoucePo {
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px grey;
  font-size: 1.8rem;
  padding: 10px 10px;
}
.presentationDoucePo img {
  height: 40px;
  width: 40px;
}
.presentationDoucePo a{
  margin: 10px 10px;
}
.bebeArticle{
  margin: 0px 10px;
}




.madeInFrance img {
  width: 220px;
  height: 220px;
  margin:10px 60px;
}
.madeInFrance{
  font-size: 2.0rem;
  text-align: center;

}

.produits div img{
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 2px black solid;
  margin: 10px 170px;
  z-index: 1;
  position: relative;
}

.underProductLabel {
  font-size: 1.8rem;
  border: 2px black solid;
  border-radius: 10px;
  width: 250px;
  margin:  10px auto;
  padding: 3px 10px;
  text-align: center;
  bottom: 40px;
  z-index: 0;
  position: relative;
}

#flecheBas img{
  width: 50px;
}
#flecheBas {
  text-align: center;
}

.polleni{
  border-radius: 10px;
  box-shadow: 0px 0px 15px grey;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 1.8rem;

}
.polleni img {
  width : 150px;
  border-radius: 75px;
}

.polleni a {
  margin-bottom: 10px;
}
